<div
  align="center"
  style="padding: 20px; background-color: #8ab9ff; line-height: 35px"
>
  <img src="../assets/coat-of-arms-znz.png" alt="" style="width: 150px" /><br />
  <span style="font-weight: bolder; font-size: 30px"
    >Ministry Of Health Zanzibar</span
  ><br />
  <span style="font-weight: bolder; font-size: 20px"
    >Zanzibar Interoperability Layer Dashboard</span
  >
</div>

<div style="padding: 20px 30px 0 30px" *ngIf="!loading" align="right">
  <form class="form-inline" role="form">
    <div class="form-group">
      <div class="btn-group">
        <label
          class="btn btn-primary"
          [ngClass]="{ 'active-filter': selectedFilterMode == '1hr' }"
          (click)="onHr()"
          uib-btn-radio="'1h'"
          >1h</label
        >
        <label
          class="btn btn-primary"
          [ngClass]="{ 'active-filter': selectedFilterMode == '1d' }"
          (click)="onDay()"
          uib-btn-radio="'1d'"
          >1d</label
        >
        <label
          class="btn btn-primary"
          [ngClass]="{ 'active-filter': selectedFilterMode == '1w' }"
          (click)="onWeek()"
          uib-btn-radio="'1w'"
          >1w</label
        >
        <label
          class="btn btn-primary"
          [ngClass]="{ 'active-filter': selectedFilterMode == '1M' }"
          (click)="onMonth()"
          uib-btn-radio="'1m'"
          >1m</label
        >
        <label
          class="btn btn-primary"
          [ngClass]="{ 'active-filter': selectedFilterMode == '1y' }"
          (click)="onYear()"
          uib-btn-radio="'1y'"
          >1y</label
        >
        <label
          class="btn btn-primary"
          [ngClass]="{ 'active-filter': selectedFilterMode == '5y' }"
          (click)="onYear(5)"
          uib-btn-radio="'5y'"
          >5y</label
        >
        <label
          class="btn btn-primary"
          [ngClass]="{ 'active-filter': selectedFilterMode == 'custom' }"
          uib-btn-radio="'custom'"
          >Custom</label
        >
      </div>
    </div>
    <!-- <div class="settings_div">
      <div ng-hide="selectedDateType.period !== 'custom'" class="form-group">
        <label>
          Breakdown
          <i
            tooltip-placement="top"
            uib-tooltip="The precision of the metrics to generate the graphs for"
            class="glyphicon glyphicon-question-sign"
          ></i> </label
        ><br />
        <select
          class="form-control"
          ng-model="selectedDateType.type"
          ng-change="customDateBreakdownChange()"
        >
          <option ng-disabled="!optionsEnabled.minute" value="minute">
            minute
          </option>
          <option ng-disabled="!optionsEnabled.hour" value="hour">hour</option>
          <option ng-disabled="!optionsEnabled.day" value="day">day</option>
          <option ng-disabled="!optionsEnabled.week" value="week">week</option>
          <option ng-disabled="!optionsEnabled.month" value="month">
            month
          </option>
          <option ng-disabled="!optionsEnabled.year" value="year">year</option>
        </select>
      </div>
      <div ng-hide="selectedDateType.period !== 'custom'" class="form-group">
        <label> From </label>
        <input
          type="text"
          class="form-control"
          ng-model="selectedDateType.from"
          ng-blur="customDateBreakdownChange()"
          placeholder="from"
          datetimepicker
          datetimepicker-options="{ format: 'YYYY-MM-DD HH:mm' }"
        />
      </div>
      <div ng-hide="selectedDateType.period !== 'custom'" class="form-group">
        <label> Until </label>
        <input
          type="text"
          class="form-control"
          ng-model="selectedDateType.until"
          ng-blur="customDateBreakdownChange()"
          placeholder="until"
          datetimepicker
          datetimepicker-options="{ format: 'YYYY-MM-DD HH:mm' }"
        />
      </div>
    </div> -->
  </form>
</div>

<div class="grid-container">
  <ng-container *ngIf="!loading">
    <div class="grid-item total mat-elevation-z3">
      <div class="grid-item-content">
        <span class="value">{{ summary.total }}</span
        ><br />
        <span class="title">Total Transactions</span>
      </div>
      <div></div>
    </div>
    <div class="grid-item success mat-elevation-z3">
      <div class="grid-item-content">
        <span class="value">{{ summary.successfull }}</span
        ><br />
        <span class="title">Successful Transactions</span>
      </div>
      <div></div>
    </div>
    <div class="grid-item failed mat-elevation-z3">
      <div class="grid-item-content">
        <span class="value">{{ summary.failed }}</span
        ><br />
        <span class="title">Failed Transactions</span>
      </div>
      <div></div>
    </div>
  </ng-container>
  <ng-container *ngIf="loading">
    <div class="grid-item mat-elevation-z3">
      <div class="grid-item-content">
        <app-placeholder [numberOfLines]="3"></app-placeholder>
      </div>
      <div>
        <app-placeholder [numberOfLines]="3"></app-placeholder>
      </div>
    </div>
    <div class="grid-item mat-elevation-z3">
      <div class="grid-item-content">
        <app-placeholder [numberOfLines]="3"></app-placeholder>
      </div>
      <div>
        <app-placeholder [numberOfLines]="3"></app-placeholder>
      </div>
    </div>
    <div class="grid-item mat-elevation-z3">
      <div class="grid-item-content">
        <app-placeholder [numberOfLines]="3"></app-placeholder>
      </div>
      <div>
        <app-placeholder [numberOfLines]="3"></app-placeholder>
      </div>
    </div>
  </ng-container>
</div>

<div class="mt-2 channels-summary">
  <div style="height: inherit" class="mat-elevation-z3">
    <!-- <mat-card style="height: inherit"> -->
    <!-- <div > -->
      <highcharts-chart
        *ngIf="showChart"
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        style="width: 100%; height: 100%"
        [ngStyle]="{ display: loading ? 'none' : 'block' }"
      >
      </highcharts-chart>
    <!-- </div> -->
    <div *ngIf="loading">
      <app-placeholder [numberOfLines]="20"></app-placeholder>
    </div>
    <!-- </mat-card> -->
  </div>
  <div>
    <mat-card>
      <table class="table table-bordered" *ngIf="!loading">
        <thead>
          <tr>
            <th>Usecase name</th>
            <th>Usecase description</th>
            <th>Total transactions</th>
            <!-- <th>Completed transactions</th> -->
            <th>Successful transactions</th>
            <th>Failed transactions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let channel of channels">
            <td>{{ channel.name }}</td>
            <td>{{ channel.description }}</td>
            <td style="text-align: center">{{ channel.totalTransactions }}</td>
            <!-- <td style="text-align: center">
              {{ channel.completedTransactions }}
            </td> -->
            <td style="text-align: center">{{ channel.sucessTransactions }}</td>
            <td style="text-align: center">{{ channel.failedTransactions }}</td>
          </tr>
        </tbody>
      </table>
      <app-placeholder *ngIf="loading" [numberOfLines]="20"></app-placeholder>
    </mat-card>
  </div>
</div>
